@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Jokes Application</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">The foremost authority for good humor that you will find anywhere on your local host</a>.</p>
</div>
